{% extends "base.html" %}

{% block content %}
    {% if not user.category.all %}
        <div class="row"></div>
        <div class="row">
             <div class="col s3"></div>
             <div class="col s6">
                <p><a href="{% url 'category-new' %}">Create a category first.</a></p>
             </div>
        </div>
    {% else %}

        <ul id="slide-out" class="sidenav">
            <form method="get" action="{% url 'tasks' %}">
                <ul class="ul-cat">
                    <li>
                        <button type="submit" class="cat-margin white-text btn" style="background-color:#E57373; overflow:hidden; margin-top:10px;">All Categories</button>
                    </li>
                    {% for category in user.category.all %}
                        <li class="li-cat">
                            <div class="form-group">
                            <button class="white-text btn cat-margin" name="filter" type="submit" value="{{category.id}}" style="background-color:{{category.color}}; overflow:hidden;">{{category.name}}</button>
                            <a href="{% url 'category-update' category.id %}"><i class="tiny material-icons" style="color:{{category.color}}">edit</i></a>
                            <a href="{% url 'category-delete' category.id %}"><i class="tiny material-icons" style="color:{{category.color}}">delete</i></a>
                        </div>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </ul>

        <div class="row"></div>
        <div class="row">
            <div class="col s2 center-align" style="position:fixed; margin-bottom:100px;">
                <a href="#" data-target="slide-out" class="sidenav-trigger btn">Categories</a>
            </div>
            {% block content2 %}{% endblock %}
        </div>
    {% endif %}
{% endblock %}