{% extends "base.html" %}

{% block content %}
    <div class="container col s12">
        <div class="row"></div>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6">
                <form method="POST">
                    {% csrf_token %}
                    <h2>Delete task "{{ object.title }}"?</h2>
                    <div class="form-group">
                        <button class="btn btn-outline-danger" type="submit">Delete</button>
                        <a class="btn btn-outline-secondary" href="{% url 'tasks' %}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}