body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.task-card{
    margin-right: 5px;
    margin-left: 5px;
}

.li-cat{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cat-margin{
    margin-left: 10px;
    padding: 0px;
    width: 70%
}

.datepicker-date-display {
    background-color: #E57373
}

.datepicker-day-button:focus {
    color: white !important;
    background-color: #E57373
}

.datepicker-done,
.datepicker-cancel,
.select-dropdown li>span,
.is-today {
    color: #E57373 !important
}

td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus {
    background-color: #E57373 !important
}

td.is-selected.is-today {
    color: white !important
}

.tiny{
    margin-right: 5px;
    margin-left: 5px;
}

.ul-cat{
    padding-bottom: 60px;
}

.handle-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

.card-height {
    height: 360px;
}