{% extends "base.html" %}

{% block content %}
    <div class="row"></div>
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            {% if validlink %}
                <p>Enter new password</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.new_password1 }}
                            <label for="id_new_password1">New password</label>
                            {{ form.new_password1.errors }}
                        </div>
                    </div>
                    <p>Repeat new password</p>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.new_password2 }}
                            <label for="id_new_password2">New password</label>
                            {{ form.new_password2.errors }}
                        </div>
                    </div>
                    <input class="btn waves-effect waves-light" type="submit" value="Change password" />
                </form>
            {% else %}
                <h1 class="card-panel deep-orange accent-1">Couldn't change password.</h1>
                <p class="card-panel deep-orange accent-1">Reset link is not valid. Please send a new password reset link.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}