{% extends "base.html" %}

{% block content %}
  <div class="row"></div>
  <div class="row">
    <div class="col s3"></div>
    <div class="col s6">
      <form action="" method="post">
      {% csrf_token %}
      {% if form.email.errors %}
        {{ form.email.errors }}
      {% endif %}
        <div class="row">
          <div class="input-field col s12">
            {{ form.email }}
            <label for="email">Enter your email</label>
          </div>
        </div>
        <input type="submit" class="btn btn-default btn-lg" value="Reset password">
      </form>
    </div>
  </div>
{% endblock %}